.app {
  width: 100%;
  // max-width: 520px;
  margin: auto;

  > header {
    background-color: #dddddd;

    .row {
      padding: 2em;
      color: var(--primary-color);
      justify-content: space-between;

      > * {
        flex: unset;
      }
    }

    button {
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
      display: flex;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      gap: 10px;
    }
  }

  .page {
    background-color: white;
    padding: 0.5em;
  }
}
